mixin textField (type, fieldClass, placeholder, form, name, value, required)
        .text-field
            input.text-field__input(
                type= type
                class=fieldClass
                form=form
                placeholder=placeholder
                name=name
                value=value
                required=required)
