mixin textField (type, fieldClass, placeholder, name, value, required)
        .text-field
            input.text-field__input(
                type= type
                class=fieldClass
                placeholder=placeholder
                name=name
                autocomplete
                value=value
                required=required)
