mixin textField (fieldClass, placeholder, name, value, required)
        .text-field
            input.text-field__input(class=fieldClass type="text" placeholder=placeholder name=name  value=value required=required)
