mixin subscrText(action, name, placeholder)
        form.subscription-field(action=action)
            input.subscription-field__input(
                form= form
                type="email"
                name=name
                placeholder=placeholder)
            button.material-icons.subscription-field__arrow(type ="submit") arrow_forward