mixin likeBtn(action, name, value, checked)
    form.like-button(action=action method="get")
        input.like-button__input(type="checkbox" name=name value=value id=name checked=checked)
        label.like-button__label(for=name)
            span.like-button__mark(class="material-icons md-10") favorite_border
            span.like-button__text=value
