mixin likeBtn(name, value, checked)
    .like-button
        label.like-button_label(for= name)
            input.like-button__input(type="checkbox" name=name value=value id=name checked=checked)
            .like-button__mark(class="material-icons md-10")
            span.like-button__text=value
