mixin toggle(name, value, tglText, checked)
    .toggle
        label.toggle__item(for=name)
            input.toggle__input(type="checkbox" value=value id=name name=name checked=checked)
            .toggle__button
            sspan.toggle__text= tglText


