mixin toggle(name, tglName, tglText, checked)
    form.toggle
        .toggle__name= tglName
        label.toggle__item(for=name)
            span.toggle__text= tglText
            input.toggle__input(type="checkbox" id=name name=name checked=checked)
            .toggle__button


