mixin checkBox(action, checkboxName, boxes)
    form.checkbox(action=action)
        .checkbox__name= checkboxName
        for box in boxes
            label.checkbox__item(for=box.name)
                input.checkbox__input(type="checkbox", id=box.name, name=box.name, value=box.value)
                .checkbox__mark
                span.checkbox__text= box.nameText
