mixin checkBox(checkboxName,boxes)
    form.checkbox(action="#" method="get")
        .checkbox__name= checkboxName
        for box in boxes
            .checkbox__item
                label.checkbox__label(for=box.name)
                    input.checkbox__input(type="checkbox", id=box.name, name=box.name, value=box.value)
                    .checkbox__mark
                span.checkbox__text= box.nameText
