mixin rateBtn(radio)

    form.rate-button(action="#" method="get")
        input.rate-button__input(type="radio" name=radio.name id="star5" value="rate5")
        label.rate-button__star(for="star5" class="material-icons")
        input.rate-button__input(type="radio" name=radio.name id="star4" value="rate4")
        label.rate-button__star(for="star4" class="material-icons")
        input.rate-button__input(type="radio" name=radio.name id="star3" value="rate3")
        label.rate-button__star(for="star3" class="material-icons")
        input.rate-button__input(type="radio" name=radio.name id="star2" value="rate2")
        label.rate-button__star(for="star2" class="material-icons")
        input.rate-button__input(type="radio" name=radio.name id="star1" value="rate1")
        label.rate-button__star(for="star1" class="material-icons")
