mixin rateBtn(name)
    form.rate-button(method="get")
        input.rate-button__input(type="radio" name=name id=`star5-${name}` value="rate5")
        label.rate-button__star.material-icons(for=`star5-${name}`)

        input.rate-button__input(type="radio" name=name id=`star4-${name}` value="rate4")
        label.rate-button__star.material-icons(for=`star4-${name}`)

        input.rate-button__input(type="radio" name=name id=`star3-${name}` value="rate3")
        label.rate-button__star.material-icons(for=`star3-${name}`)

        input.rate-button__input(type="radio" name=name id=`star2-${name}` value="rate2")
        label.rate-button__star.material-icons(for=`star2-${name}`)

        input.rate-button__input(type="radio" name=name id=`star1-${name}` value="rate1")
        label.rate-button__star.material-icons(for=`star1-${name}`)
