mixin rateBtn(radio, action)
    form.rate-button(action=action method="get")
        input.rate-button__input(type="radio" name=radio id=`star5-${radio}` value="rate5")
        label.rate-button__star.material-icons(for=`star5-${radio}`)

        input.rate-button__input(type="radio" name=radio id=`star4-${radio}` value="rate4")
        label.rate-button__star.material-icons(for=`star4-${radio}`)

        input.rate-button__input(type="radio" name=radio id=`star3-${radio}` value="rate3")
        label.rate-button__star.material-icons(for=`star3-${radio}`)

        input.rate-button__input(type="radio" name=radio id=`star2-${radio}` value="rate2")
        label.rate-button__star.material-icons(for=`star2-${radio}`)

        input.rate-button__input(type="radio" name=radio id=`star1-${radio}` value="rate1")
        label.rate-button__star.material-icons(for=`star1-${radio}`)
