include ../borderless-button/borderless-button
mixin dropdown (form,text, name, options)
    .dropdown
        .dropdown__field(id=name)
            span.dropdown__text= text
            span(class="material-icons dropdown__expand") expand_more
        .dropdown__options
            for option in options
                .dropdown__option
                    span= option.opName
                    .dropdown__option-buttons(class=option.op)
                        .dropdown__minus(class=option.op)
                            span.dropdown__sign -
                        .dropdown__counter(class=option.op) 0
                        input.dropdown__input(type="hidden" form=form name=option.op value="0")
                        .dropdown__plus
                            span.dropdown__sign(class=option.op) +
            .dropdown__buttons
                .dropdown__confirm
                    +borderlessBtn("применить", "d-confirm killed")
                .dropdown__clear
                    +borderlessBtn("отчистить", "d-clear killed")

